/*typography*/

html, body {
  font-family: 'Open Sans', Roboto,  "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  color: dimgrey;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 7.8rem;
}

/*page*/

.page-title {
  margin-bottom: 5rem;
  box-shadow: inset 0 8px 6px -5px #aaa;
  padding: .1rem .4rem;
}

.page {
  display: flex;
  justify-content: center;
  width: 70rem;
}

.alldate {
  /*background-color: lightskyblue;*/
}

section, .subtitle {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: dimgrey;
  font-weight: bold;
}

.subtitle {
  box-shadow: inset 0 8px 6px -5px #aaa;
  padding: 1rem .4rem;
}

.subtitle span {
  font-size: 3rem;
  color: dimgrey;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.alldate {
  padding: 2rem;
}

md-datepicker {
  margin-right: 1rem;
}
.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */
}
.datepickerdemoBasicUsage md-content {
  padding-bottom: 0;
}
.datepickerdemoBasicUsage .validation-messages {
  font-size: 11px;
  color: darkred;
  margin: 10px 0 0 25px;
}

/*dropdown*/
