<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="ru" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="ru" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="ru" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ru" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Огнетушители</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="components/styles/normalize.css">
  <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.0.6/angular-material.css">
  <link rel="stylesheet" href="https://material.angularjs.org/1.0.6/docs.css">
  <link rel="stylesheet" href="components/styles/app.css">
</head>
<body ng-app='modalTest' ng-cloak="" ng-controller="dialogTestCtrl">
  <div class="page">
    <div class="alldate">
      <div class="page-title">
        <h1>Когда следующая проверка</h1>
        <h2>Огнетушителя</h2>
      </div>
      <div>

        <section>
          <p class="subtitle">Сейчас: <span>{{ now | date: 'EEEE, MMMM d, y'}}</span></p>
        </section>

        <section>
          <p class="subtitle">ТИП ОГНЕТУШИТЕЛЯ</p>
          <input type="checkbox" ng-model='extinguisher.weight' value='2'/> ОП-2
          <input type="radio" name="type" ng-model='extinguisher.type' value="powder" ng-disabled="extinguisher.weight === true"> Порошковый
          <input type="radio" name="type" ng-model='extinguisher.type' value="carbon_dioxide" ng-disabled="extinguisher.weight === true"> Углекислотный
        </section>

        <section>
          <p class="subtitle">Дата покупки или последней проверки/зарядки огнетушителя:</p>
        </section>

      </div>
      <div class="datepickerdemoBasicUsage">
        <section>
          <md-content></md-content>
          <md-datepicker ng-model="myDate"></md-datepicker>
          <button ng-click="chooseYourDestiny()">Кнопка</button>
        </section>
      </div>
    </div>

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
  <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.0.6/angular-material.js"></script>
  <script src="clipboard.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
